html, body {
    font-family: Arial, serif;
    margin: 0;
    height: 100%
}
#digestCSS {
    font-family: Courier, serif;
}
#headerDiv {
    background-color: #eee;
    padding: 5px;
}
#headerText {
    margin: 0;
}
legend {
    border: 2px groove threedface;
    padding: 4px 5px;
    font-size: 0.8em;
}
form {
    margin: 10px;
    width: 50vw;
    display: inline-block;
}
form input, form textarea {
    font-size: 1em;
    background-color: #ddd;
}
form input {
    max-height: 1.5em;
}
form textarea {
    width: 99%;
    resize: vertical;
    min-height: 50px;
    max-height: 200px;
}
#digestDate {
    font-size: 1.25em;
}
fieldset {
    margin: 10px 0;
    padding: 5px;
}
p {
    margin: 5px 0;
    vertical-align: text-bottom;
}
.signoff {
    width: 99%;
    margin: 1px 0;
    text-align: right;
}
#digest {
    min-height: 88%;
    display: flex;
}
#output {
    margin: 32.5px 0 20px 0;
    padding: 1em;
    width: 40vw;
    display: inline-block;
    vertical-align: top;
    border: 2px groove threedface;
}
input, textarea {
   border: none;
   overflow: auto;
   outline: none;
   resize: none;

   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none; 
}
#outputText {
    width: inherit;
    height: 100%;

    font-family: Courier;
}

.eventEntry{
    background-color: #e9e9e9;
    padding: 3px 0;
}
.eventEntry input {
    margin: 3px 0;
}
.eventEntry .eventDetails {
    width: 99%;
}
