<button type="button" class="removePrompt" ng-click="removeItemPrompt(type, eventIndex, true)" ng-if="!entity._toRemove">Remove this event</button>
<span class="removePrompt" ng-if="entity._toRemove"><span class="removePromptQ">Are you sure?</span> | <span class="removePromptA" ng-click="removeItemPrompt(type, eventIndex, false)">no, cancel</span> | <span class="removePromptA" ng-click="removeItem(type, eventIndex)">yes, remove</span></span>
<div class="form-row">
  <div class="form-group col-lg-12">
    <div class="input-group input-group-sm">
      <div class="input-group-prepend">
        <span class="input-group-text">Name</span>
      </div>
      <input class="form-control eventDetails eventName" ng-model="entity.name" />
    </div>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-sm-6">
    <div class="input-group input-group-sm">
      <div class="input-group-prepend">
        <span class="input-group-text">Link</span>
      </div>
      <input class="form-control eventDetails eventLink" ng-model="entity.link" />
    </div>
  </div>
  <div class="form-group col-sm-6">
    <div class="input-group input-group-sm">
      <div class="input-group-prepend">
        <span class="input-group-text">Chairs</span>
      </div>
      <input class="form-control eventDetails eventChairs" ng-model="entity.chairs" />
    </div>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-sm-6">
    <div class="input-group input-group-sm">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown">Start Date</button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#" ng-repeat="x in daysOfWeek" ng-click="setEventDate(type, eventIndex, false, x.value)">{{x.label}}</a>
          </div>
      </div>
      <input class="form-control eventDate eventStartDate" type="date" placeholder="yyyy-mm-dd" ng-model="entity.date_start" />
    </div>
  </div>
  <div class="form-group col-sm-6">
    <div class="input-group input-group-sm">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown">End Date</button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#" ng-repeat="x in daysOfWeek" ng-click="setEventDate(type, eventIndex, true, x.value)">{{x.label}}</a>
          </div>
      </div>
      <input class="form-control eventDate eventEndDate" type="date" placeholder="yyyy-mm-dd" ng-model="entity.date_end" />
    </div>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-sm-6">
    <div class="input-group input-group-sm">
      <div class="input-group-prepend">
        <span class="input-group-text">Start Time</span>
      </div>
      <input class="form-control eventTime eventStartTime" type="time" placeholder="HH:MM (24 hour format)" ng-model="entity.time_start" />
    </div>
  </div>
  <div class="form-group col-sm-6">
    <div class="input-group input-group-sm">
      <div class="input-group-prepend">
        <span class="input-group-text">End Time</span>
      </div>
      <input class="form-control eventTime eventEndTime" type="time" placeholder="HH:MM (24 hour format)" ng-model="entity.time_end" />
    </div>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-lg-12">
    <div class="input-group input-group-sm">
      <div class="input-group-prepend">
        <span class="input-group-text">Description</span>
      </div>
      <input class="form-control eventDetails eventDesc" ng-model="entity.description" />
    </div>
  </div>
</div>
